* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
Body{
    background-color: #f2fbf3;
}

header {
    padding: 30px 30px 15px 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #d0ceb7;
    color: #000000;
}
header h1 {
    display: inline-block;
    font-size: 48px;
    background-color:#ffffff;
    margin-left: -30px;
    padding-right: 10px;
    padding-left: 100px;
}
header nav {
    padding-top: 20px;
    margin-right: 100px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;

}
header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a{
    color: #000000;
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.background.image{
    height: 500px;
    width: 100%;
    margin-bottom: 0px;
    background-image: url("../Assets/pngtree-abstract-lines-composition-background-with-diagonal-olive-green-texture-image_13778525.png");
    background-size: cover;
    background-position: center;
}

section {
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

section h1{
    display: inline-block;
    border-right: 5px solid rgb(59, 94, 59);
    margin: 50px;
    padding: 30px;
    text-align: right;
    font-size: 35px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

p{
    margin-left: 10px;
    margin-right: 150px;
    margin-top: 50px;
}

aside{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.box:hover{
    color: rgb(171, 207, 100);
}

.box.one{
    height: 500px;
    width: 1400px;
    margin: 10px;
    background-image: url(../Assets/waves.png);
    background-size: 100%;
    border-style: solid;
    border-width: 5px;
}

.box.two{
    height: 250px;
    width: 690px;
    margin: 10px;
    background-image: url(../Assets/led\ wall.png);
    background-size: 100%;
    border-style: solid;
    border-width: 5px;
}
.box.three{
    height: 250px;
    width: 690px;
    margin: 10px;
    background-image: url(../Assets/calculator.png);
    background-size: 100%;
    border-style: solid;
    border-width: 5px;
}

.box.four{
    height: 250px;
    width: 690px;
    margin: 10px;
    background-image: url(../Assets/puzzle\ piece.png);
    background-size: 100%;
    background-position-x: center;
    background-position-y: center;
    border-style: solid;
    border-width: 5px;
}

.box.five{
    height: 250px;
    width: 690px;
    margin: 10px;
    background-image: url(../Assets/globe.png);
    background-size: 100%;
    border-style: solid;
    border-width: 5px;
}

footer h1{
    display: inline-block;
    border-right: 5px solid rgb(59, 94, 59);
    text-align: right;
    font-size: 35px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer ul{
    display:inline-block;
    list-style-type: none;
}

footer ul li{
    display: inline-block;
    text-decoration: underline;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 80px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}





