 * {
    font-family: Georgia, Times, "Times New Roman", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    position: relative;
  }
  
  main {
    display: flex;
    flex-direction: column;
  }
  
  header {
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(52, 66, 33);
    border-width: 5px 0px;
    border-style: solid;
    border-color: black
  }
  
  header h1 {
    margin-left: 12px;
    color: black;
    padding: 5px 10px;
    border: solid black;
    border-width: 4px 4px 4px 4px;
    background-color: white;
  }
  
  li {
    margin-right: 12px;
    display: inline-block;
  }
  
  header a {
    color: white;
  }
  

  header a:hover {
    border: 1px solid white;
    color: white;
  }
  
  figure {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 150px;
    background-image: url("../Assets/pngtree-abstract-lines-composition-background-with-diagonal-olive-green-texture-image_13778525.png");
    background-size: cover;
    background-position: center;
  }
  
  figure h4 {
    color: white;
    margin-left: 12px;
    margin-right: 100px;
    margin-top: 75px;
  }
  
  section {
    display: flex;
    align-items: center;
    align-content: space-between;
    margin-left: 25px;
    margin-top: 12px;
  }
  
  section h1 {
    display: flex;
    margin-left: 12px;
    width: 30%;
    text-align: right;
  }
  
  .aboutMe p,
  .contact nav {
    margin-left: 12px;
    margin-right: 12px;
    padding-left: 12px;
    width: 70%;
    border-left: 10px solid black;
  }
  
  .aboutMe p,
  .contact li a {
    font-size: large;
    line-height: 1.5;
  }
  
  .contact a {
    color: black;
    margin: 70px;
  }
  
  .work div {
    display: flex;
    margin-left: 12px;
    margin-right: 12px;
    padding-left: 12px;
    width: 70%;
    border-left: 10px solid black;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  
  .contact nav {
    display: flex;
    justify-content: center;
    align-content:space-between;
  }
  
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 152px;
    min-width: 185px;
    border: solid rgb(52, 66, 33);
    border-width: 5px;
    margin-bottom: 12px;
    margin-right: 12px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  article:hover,
  article:focus {
    opacity: 85%;
  }
  
  .article-dbl {
    width: 95%;
  }
  
  .article-sgl {
    width: 45%;
  }
  
  article h4,
  article h5 {
    text-indent: 8px;
    text-align: left;
    width: 180px;
    background-color: rgb(52, 66, 33);
    color: white;
  }
  
  article h5 {
    padding-top: 2px;
    padding-left: 4px;
    padding-bottom: 2px;
  }
  
  footer {
    height: 100px;
  }
  
  /* add background images to the various sections */
  

  .calculator {
    background-image: url(../Assets/calculator.png);
  }
  
  .ledwall {
    background-image: url(../Assets/led\ wall.png);
  }
  
  .puzzle {
    background-image: url(../Assets/puzzle\ piece.png);
  }
  
  .globe {
    background-image: url(../Assets/globe.png);
  }
  
  .surf {
    background-image: url(../Assets/waves.png);
  }
  





